.travusFooter h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
}
.travusFooter h2 {
  font-size: 16px;
  font-weight: bold;
  padding: 20px 0px 0px 0px;
}
.travusFooter p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(158, 158, 158);
}
.travusFooter h3 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(158, 158, 158);
  padding: 10px 0px 0px 10px;
}
.tableDiv h1 {
  font-size: 16px;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
}
.tableDiv h2 {
  font-size: 16px;
  font-weight: 900;
  color: rgb(158, 158, 158);
  padding: 8px 0px 0px 0px;
}
.footer {
  padding: 50px 0px 50px 0px;
}
#tableBarDiv {
  border-right: rgb(158, 158, 158) solid 1px;
}
.iconsFooter {
  width: 40px;
  height: 40px;
  color: #e6e6e6;
  padding: 5px 2px 5px 2px;
  cursor: pointer;
}
.iconsFooter:hover {
  color: black;
  transition: 0.5s;
  opacity: 0.8;
}
.footerSearch input {
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  width: 212px;
  height: 34px;
  text-align: center;
  font-family: FontAwesome;
}
.footerSearch {
  padding: 20px 0px 0px 0px;
}
.iconsFooterHead h1 {
  font-size: 18px;
  font-weight: bold;
}
.tableFooter {
  padding-left: 20px;
}
.iconsFooterHead {
  padding-left: 20px;
} /*......Media Query*/
@media screen and (max-width: 586px) {
  #tableBarDiv {
    border-right: 0px;
  }
}
